div#sellingmanager div#legend
{
    margin-top : 1em;
    float : left;
    clear : left;
}

div#sellingmanager div#legend h2
{
    margin-bottom : 1em;
}

div#sellingmanager div#legend div.legend
{
    float:left;
    clear:left;
}

div#sellingmanager div#statelegend
{
    float : left;
    margin-top : 1em;
    clear : left;
}

div#sellingmanager div#statelegend h2
{
    margin-bottom : 1em;
}

div#sellingmanager div#statelegend div.legend
{
    margin-bottom : 1em;
}

div#sellingmanager div#helpInfoLink
{
    font-size : 1.2em;
    padding-top : 1em;
    padding-bottom : 0.5em;
    float : left;
    clear : left;
}