#sign-up
{
  margin:0 auto 0 0;
  text-align:left;
}

div#confirmation
{	
  width:80%;
}

div#confirmation dl dt 
{
	white-space:normal !important;	
	margin-bottom:0.5em;
}

div#sign-up div.actions
{
  width: 100%;
  float: left;
  text-align:left;
  margin-top: 2em; /*border-top:solid 1px #44473d;   padding-top:0.5em;*/
}

div#sign-up .actions .button
{
  margin-right:1em;
}

#sign-up .key-value .key
{
  width: 200px;
}