div#viewbuying
{
}

div#viewbuying .detailView td
{
  padding: 0.7em 0;
}

div#viewbuying div#top
{
    float : left;
}

div#viewbuying div#suggested
{
    float : left;
    clear : left;
   min-width : 40em;
    width:60%;
    position:relative;
    left:-2em;
    padding:1em 2em 0 2em;
    margin-top:1em;
}

div#viewbuying div#suggested div#text
{
    margin-top : 0.5em;
     font-size:1.1em;    
  font-style:italic;
  line-height:1.4em;
  font-weight:normal;
}

div#viewbuying .description
{
  margin: 2em 0 1em 0em;
  float:left;
  clear:both;
  width: 60%;
}

div#viewbuying div#actions
{
    float : left;
    clear : left;
    min-width : 40em;
    width:60%;
    position:relative;
    left:-2em;
    padding:1em 2em 1em 2em;
    text-align:left;
}

div#viewbuying div#suggested div.panel
{
    margin-bottom : 0.5em;
    margin-top : 0.5em;
}

div#viewbuying .description .text
{
  padding:1em 0 0 0.5em;
}

div#viewbuying pre
{
  font-size:12px;
  font-family:Verdana,sans-serif;
  color:#5d4339;
  line-height:1.4em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}