<?xml version="1.0"?>
<configuration>
    <appSettings/>
    <connectionStrings/>
  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="NonactivatedUser"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="ChangeEmail.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="NonactivatedUser"/>
      </authorization>
    </system.web>
  </location>-->
</configuration>
