<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Configuration>
  <ControlEncodingContexts>
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.Label" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.Panel" PropertyName="GroupingText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.HyperLink" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.Page" PropertyName="Title" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="AnswerLabelText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="GeneralFailureText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="HelpPageText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="QuestionFailureText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="QuestionInstructionText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="QuestionLabelText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="QuestionTitleText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="SubmitButtonText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="SuccessPageUrl" EncodingContext="Url" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="SuccessText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="UserNameFailureText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="UserNameInstructionText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="UserNameLabelText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.PasswordRecovery" PropertyName="UserNameTitleText" EncodingContext="Html" />
  </ControlEncodingContexts>
  <DoubleEncodingFilter Enabled="True" />
  <EncodeDerivedControls Enabled="True" />
  <MarkAntiXssOutput Enabled="False" Color="Yellow" />
</Configuration>