<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <sectionGroup name="webMoneyConfiguration">
      <section name="applicationInterfaces" type="WebMoney.XmlInterfaces.Settings.ConfigurationHandler, WebMoney.XmlInterfaces" />
    </sectionGroup>
    <section name="databaseConfiguration" type="GT.DA.DatabaseConfiguration.DatabaseSectionHandler, GT.DA" />
    <section name="webMoneyConfig" type="GT.BO.Implementation.Payments.Configuration.WebMoneySectionHandler, GT.BO.Implementation"/>
  </configSections>
  <appSettings>
    <add key="timeout" value="400"/>
  </appSettings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="Log\404\trace.log" rollSizeKB="10240" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Overwrite" rollInterval="Day" formatter="Text Formatter" header="----------------------------------------" footer="----------------------------------------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="404 TraceListener" />
      <add fileName="Log\Application_Shutdown\trace.log" rollSizeKB="10240" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Overwrite" rollInterval="Day" formatter="Text Formatter" header="----------------------------------------" footer="----------------------------------------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Application_Shutdown TraceListener" />
      <add fileName="Log\Mailer\trace.log" rollSizeKB="10240" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Overwrite" rollInterval="Day" formatter="Text Formatter" header="----------------------------------------" footer="----------------------------------------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Email TraceListener" />
      <add fileName="Log\trace.log" rollSizeKB="10240" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Overwrite" rollInterval="Day" formatter="Text Formatter" header="----------------------------------------" footer="----------------------------------------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="General Text Trace Listener" />
      <add fileName="Log\trace.xml" rollSizeKB="10240" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Overwrite" rollInterval="Day" formatter="Xml Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="General XML TraceListener" />
      <add fileName="Log\Login\trace.log" rollSizeKB="10240" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Overwrite" rollInterval="Day" formatter="Text Formatter" header="----------------------------------------" footer="----------------------------------------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Login TraceListener" />
      <add fileName="Log\Register\trace.log" rollSizeKB="10240" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Overwrite" rollInterval="Day" formatter="Text Formatter" header="----------------------------------------" footer="----------------------------------------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Registration TraceListener" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.SystemDiagnosticsTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="System.Diagnostics.DefaultTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="System.Diagnostics TraceListener" initializeData="" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp(local)}&#xA;Title:{title}&#xA;Message: {message}&#xA;Category: {category}&#xA;Severity: {severity}&#xA;Win32ThreadId: {win32ThreadId}&#xA;Machine: {machine}&#xA;Application Data: &#xA;{dictionary({key}:{tab}{tab}{tab}{value}{newline})}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
      <add template="&lt;LogEntry>&#xA;&lt;Timestamp>{timestamp(local)}&lt;/Timestamp>&#xA;&lt;Title>&lt;![CDATA[{title}]]>&lt;/Title>&#xA;&lt;Message>&lt;![CDATA[{message}]]>&lt;/Message>&#xA;&lt;Category>{category}&lt;/Category>&#xA;&lt;Severity>{severity}&lt;/Severity>&#xA;&lt;Machine>{machine}&lt;/Machine>&#xA;&lt;ApplicationData>&lt;![CDATA[&#xA;{dictionary({key}:{value}{newline})}&#xA;]]>&lt;/ApplicationData>&#xA;&lt;/LogEntry>" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Xml Formatter" />
    </formatters>
    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="All" name="Code">
        <listeners>
          <add name="General Text Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Database">
        <listeners>
          <add name="General Text Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="System.Diagnostics TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Email">
        <listeners>
          <add name="Email TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="General Text Trace Listener" />
          <add name="General XML TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Log404">
        <listeners>
          <add name="404 TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Login">
        <listeners>
          <add name="Login TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Registration">
        <listeners>
          <add name="Registration TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Shutdown">
        <listeners>
          <add name="Application_Shutdown TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Trace">
        <listeners>
          <add name="System.Diagnostics TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="General Text Trace Listener" />
          <add name="General XML TraceListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <webMoneyConfiguration>
    <applicationInterfaces>
      <authorizationMode>Classic</authorizationMode>
      <keeperClassic>
        <wmId>131984805864</wmId>
        <wmKey>
          &lt;RSAKeyValue&gt;&lt;Modulus&gt;qc6lo2iVGuWMWW7TSHLvqB2ZLssH4H2N8kaQ6Brm8DD6s0Vu5E+mJNH62a/FpzstlrhyRe0V5sSYd3kgLB/75BYA&lt;/Modulus&gt;&lt;D&gt;I6v4/zvsJrDEGk2z6xQ7GUrc6+c85tSXbePbyiHQCfeT4tWH5LJrtt4h9S6UoiEz8XIp/M0J9fX9/zowiTYutwQA&lt;/D&gt;&lt;/RSAKeyValue&gt;
        </wmKey>
      </keeperClassic>
      <requestNumber>
        <startTime>18.05.2010 23:00:00</startTime>
        <period>1000</period>
      </requestNumber>
    </applicationInterfaces>
  </webMoneyConfiguration>
  <databaseConfiguration>
    <databases>
      <add name="GT" enableBroker="false" />
    </databases>
  </databaseConfiguration>
  <connectionStrings>
    <add name="GT" connectionString="Data Source=.\sqlexpress; Initial Catalog=GT1;Integrated Security=false;user=sa;password=gtdbpsw" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <webMoneyConfig purse="R127035984029" key="" />
</configuration>