div.addFeedback
{
}

div.addFeedback span.type input[type="radio"]
{
  margin:0.5em 0 0 0;
}

div.addFeedback span.type label
{
  margin:0 1em 0 0.2em;
  padding-bottom:0.1em;
}

div.addFeedback textarea.comment
{
  width:100%;
}

