<?xml version="1.0"?>
<configuration>
  <location path="SellingViewer.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BuyingViewer.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WantToSell.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WantToBuy.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ViewSelling.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ViewBuying.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SellingManager.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="NonactivatedUser"/>
      </authorization>
    </system.web>
  </location>
  <location path="BuyingManager.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="NonactivatedUser"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
</configuration>
