<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by popovegor (EMBRACE) -->
<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
	<project name="GT" queuePriority="1">
		<webURL>http://173.248.153.94:5001</webURL>
		<workingDirectory>C:\AutoBuild\Projects\GT</workingDirectory>
		<artifactDirectory>C:\AutoBuild\Artifacts\GT</artifactDirectory>
		<category>GT</category>
		<modificationDelaySeconds>60</modificationDelaySeconds>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<triggers>
			<intervalTrigger name="GT" seconds="300" buildCondition="IfModificationExists" initialSeconds="120"/>
		</triggers>
		<sourcecontrol type="svn">
			<trunkUrl>https://localhost:8443/svn/gt/gt</trunkUrl>
			<executable>C:\Program Files\VisualSVN Server\bin\svn.exe</executable>
			<workingDirectory>C:\AutoBuild\Projects\GT\</workingDirectory>
			<username>egor</username>
			<password>egor-007</password>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>
		<tasks>
			<exec>
				<executable>cmd.exe</executable>
				<baseDirectory>.\GT.Web.Site\</baseDirectory>
				<buildArgs>/c copy /Y Web.config.template Web.config</buildArgs>
				<buildTimeoutSeconds>10</buildTimeoutSeconds>
				<successExitCodes>0,1,3,5</successExitCodes>
			</exec>
			<!--build application-->
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory/>
				<projectFile>.\gt.sln</projectFile>
				<buildArgs>/p:BuildProjectName=GT</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing GT solution build...</description>
			</msbuild>
			<!--build database-->
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory>.\GT.Database</workingDirectory>
				<projectFile>GT.Database.dbproj</projectFile>
				<buildArgs>/p:BuildProjectName=GT.Database /t:Deploy /p:TargetConnectionString="Data Source=.\SqlExpress;Integrated Security=true;Pooling=false" /p:DeployToDatabase=True /p:TargetDatabase=GT_Test /p:DeploymentScriptName=GT_Test.sql /p:DeploymentConfigFile=sql\debug\Test.sqldeployment /p:SqlCommandVariablesFile=sql\debug\Test.sqlcmdvars</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing GT.Database project build...</description>
			</msbuild>
			<!--pre unit test-->
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory>.</workingDirectory>
				<projectFile>.\UnitTest\PreUnitTest.proj</projectFile>
				<buildArgs>/p:ConnectionString="Data Source=.\SqlExpress;Initial Catalog=GT_Test;Integrated Security=true;Pooling=false"</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing Pre Unit Test project build...</description>
			</msbuild>
			<!--run unit test-->
			<exec>
				<executable>.\Dlls\Nunit\2.5\nunit-console.exe</executable>
				<baseDirectory>.</baseDirectory>
				<buildArgs>.\UnitTest\AllTests.nunit</buildArgs>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>.\*.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics>
				<statisticList>
					<firstMatch name="Files" xpath="//coverageReport/project/@files"/>
					<firstMatch name="Classes" xpath="//coverageReport/project/@classes"/>
					<firstMatch name="LinesOfCode" xpath="//coverageReport/project/@nonCommentLines"/>
					<firstMatch name="Coverage" xpath="//coverageReport/project/@coverage"/>
					<firstMatch name="AverageComplexity" xpath='//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id="M14"]'/>
				</statisticList>
			</statistics>
		</publishers>
	</project>
	<project name="GT.Release" queuePriority="2">
		<webURL>http://popovegor.ru:5001</webURL>
		<workingDirectory>C:\AutoBuild\Projects\GT.Release</workingDirectory>
		<artifactDirectory>C:\AutoBuild\Artifacts\GT.Release</artifactDirectory>
		<category>GT</category>
		<modificationDelaySeconds>60</modificationDelaySeconds>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<triggers>
			<projectTrigger serverUri="tcp://localhost:21234/CruiseManager.rem" project="GT">
				<triggerStatus>Success</triggerStatus>
			</projectTrigger>
		</triggers>
		<sourcecontrol type="svn">
			<trunkUrl>https://localhost:8443/svn/gt/gt</trunkUrl>
			<executable>C:\Program Files\VisualSVN Server\bin\svn.exe</executable>
			<workingDirectory>C:\AutoBuild\Projects\GT.Release</workingDirectory>
			<username>egor</username>
			<password>egor-007</password>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>
		<tasks>
			<exec>
				<executable>cmd.exe</executable>
				<baseDirectory>.\GT.Web.Site\</baseDirectory>
				<buildArgs>/c copy /Y Web.config.template Web.config</buildArgs>
				<buildTimeoutSeconds>10</buildTimeoutSeconds>
				<successExitCodes>0,1,3,5</successExitCodes>
			</exec>
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory/>
				<projectFile>.\gt.sln</projectFile>
				<buildArgs>/p:BuildProjectName=GT /p:Configuration=Release</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing GT solution build...</description>
			</msbuild>
			<exec>
				<executable>cmd.exe</executable>
				<baseDirectory>GT.Deploy\Release</baseDirectory>
				<buildArgs>/C del /f /q web.config</buildArgs>
				<successExitCodes>0,1,3,5</successExitCodes>
			</exec>
			<exec>
				<executable>cmd.exe</executable>
				<baseDirectory>.\GT.Deploy</baseDirectory>
				<buildArgs>/c "C:\Program Files\7-Zip\7z.exe" a -tzip Release.zip -r Release/*</buildArgs>
				<buildTimeoutSeconds>60</buildTimeoutSeconds>
				<successExitCodes>0,1,3,5</successExitCodes>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>.\*.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics>
				<statisticList>
					<firstMatch name="Files" xpath="//coverageReport/project/@files"/>
					<firstMatch name="Classes" xpath="//coverageReport/project/@classes"/>
					<firstMatch name="LinesOfCode" xpath="//coverageReport/project/@nonCommentLines"/>
					<firstMatch name="Coverage" xpath="//coverageReport/project/@coverage"/>
					<firstMatch name="AverageComplexity" xpath='//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id="M14"]'/>
				</statisticList>
			</statistics>
		</publishers>
	</project>
	<project name="GT.Production.DB" queuePriority="3">
		<webURL>http://popovegor.ru:5001</webURL>
		<workingDirectory>C:\AutoBuild\Projects\GT.Production.DB</workingDirectory>
		<artifactDirectory>C:\AutoBuild\Artifacts\GT.Production.DB</artifactDirectory>
		<category>GT</category>
		<modificationDelaySeconds>60</modificationDelaySeconds>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<triggers>
			<projectTrigger serverUri="tcp://localhost:21234/CruiseManager.rem" project="GT.Release">
				<triggerStatus>Success</triggerStatus>
			</projectTrigger>
		</triggers>
		<sourcecontrol type="svn">
			<trunkUrl>https://localhost:8443/svn/gt/gt</trunkUrl>
			<executable>C:\Program Files\VisualSVN Server\bin\svn.exe</executable>
			<workingDirectory>C:\AutoBuild\Projects\GT.Production.DB\</workingDirectory>
			<username>egor</username>
			<password>egor-007</password>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>
		<tasks>
			<exec>
				<executable>cmd.exe</executable>
				<baseDirectory>.\GT.Web.Site\</baseDirectory>
				<buildArgs>/c copy /Y Web.config.template Web.config</buildArgs>
				<buildTimeoutSeconds>10</buildTimeoutSeconds>
				<successExitCodes>0,1,3,5</successExitCodes>
			</exec>
			<!--build application-->
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory/>
				<projectFile>.\gt.sln</projectFile>
				<buildArgs>/p:BuildProjectName=GT</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing GT solution build...</description>
			</msbuild>
			<!--build database-->
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory>.\GT.Database</workingDirectory>
				<projectFile>GT.Database.dbproj</projectFile>
				<buildArgs>/p:BuildProjectName=GT.Database /t:Deploy /p:TargetConnectionString="Data Source=195.128.124.115\SqlExpress;Integrated Security=false;Pooling=false;user=egor;password=egor-007" /p:DeployToDatabase=False /p:TargetDatabase=GT /p:DeploymentScriptName=GT.sql /p:DeploymentConfigFile=sql\debug\Production.sqldeployment /p:SqlCommandVariablesFile=sql\debug\Production.sqlcmdvars</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing GT.Database project build...</description>
			</msbuild>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>.\*.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics>
				<statisticList>
					<firstMatch name="Files" xpath="//coverageReport/project/@files"/>
					<firstMatch name="Classes" xpath="//coverageReport/project/@classes"/>
					<firstMatch name="LinesOfCode" xpath="//coverageReport/project/@nonCommentLines"/>
					<firstMatch name="Coverage" xpath="//coverageReport/project/@coverage"/>
					<firstMatch name="AverageComplexity" xpath='//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id="M14"]'/>
				</statisticList>
			</statistics>
		</publishers>
	</project>
	<project name="GT2" queuePriority="1">
		<webURL>http://popovegor.ru:5001</webURL>
		<workingDirectory>C:\AutoBuild\Projects\GT2</workingDirectory>
		<artifactDirectory>C:\AutoBuild\Artifacts\GT2</artifactDirectory>
		<category>GT2</category>
		<modificationDelaySeconds>60</modificationDelaySeconds>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<triggers>
			<intervalTrigger name="GT2" seconds="600" buildCondition="IfModificationExists" initialSeconds="120"/>
		</triggers>
		<sourcecontrol type="svn">
			<trunkUrl>https://localhost:8443/svn/gt/gt2</trunkUrl>
			<executable>C:\Program Files\VisualSVN Server\bin\svn.exe</executable>
			<workingDirectory>C:\AutoBuild\Projects\GT2\</workingDirectory>
			<username>egor</username>
			<password>egor-007</password>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>
		<tasks>
			<exec>
				<executable>cmd.exe</executable>
				<baseDirectory>.\GT.Web.Site\</baseDirectory>
				<buildArgs>/c copy /Y Web.config.template Web.config</buildArgs>
				<buildTimeoutSeconds>10</buildTimeoutSeconds>
				<successExitCodes>0,1,3,5</successExitCodes>
			</exec>
			<!--build application-->
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory/>
				<projectFile>.\gt.sln</projectFile>
				<buildArgs>/p:BuildProjectName=GT</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing GT solution build...</description>
			</msbuild>
			<!--build database-->
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory>.\GT.Database</workingDirectory>
				<projectFile>GT.Database.dbproj</projectFile>
				<buildArgs>/p:BuildProjectName=GT.Database /t:Deploy /p:TargetConnectionString="Data Source=.\SqlExpress;Integrated Security=true;Pooling=false" /p:DeployToDatabase=True /p:TargetDatabase=GT2_Test /p:DeploymentScriptName=GT2_Test.sql /p:DeploymentConfigFile=sql\debug\Test.sqldeployment /p:SqlCommandVariablesFile=sql\debug\Test.sqlcmdvars</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing GT.Database project build...</description>
			</msbuild>
			<!--pre unit test-->
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory>.</workingDirectory>
				<projectFile>.\UnitTest\PreUnitTest.proj</projectFile>
				<buildArgs>/p:ConnectionString="Data Source=.\SqlExpress;Initial Catalog=GT2_Test;Integrated Security=true;Pooling=false"</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing Pre Unit Test project build...</description>
			</msbuild>
			<!--run unit test-->
			<exec>
				<executable>.\Dlls\Nunit\2.5\nunit-console.exe</executable>
				<baseDirectory>.</baseDirectory>
				<buildArgs>.\UnitTest\AllTests.nunit</buildArgs>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>.\*.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics>
				<statisticList>
					<firstMatch name="Files" xpath="//coverageReport/project/@files"/>
					<firstMatch name="Classes" xpath="//coverageReport/project/@classes"/>
					<firstMatch name="LinesOfCode" xpath="//coverageReport/project/@nonCommentLines"/>
					<firstMatch name="Coverage" xpath="//coverageReport/project/@coverage"/>
					<firstMatch name="AverageComplexity" xpath='//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id="M14"]'/>
				</statisticList>
			</statistics>
		</publishers>
	</project>
	<project name="GT2.Release" queuePriority="2">
		<webURL>http://popovegor.ru:5001</webURL>
		<workingDirectory>C:\AutoBuild\Projects\GT2.Release</workingDirectory>
		<artifactDirectory>C:\AutoBuild\Artifacts\GT2.Release</artifactDirectory>
		<category>GT2</category>
		<modificationDelaySeconds>60</modificationDelaySeconds>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<triggers>
			<projectTrigger serverUri="tcp://localhost:21234/CruiseManager.rem" project="GT2">
				<triggerStatus>Success</triggerStatus>
			</projectTrigger>
		</triggers>
		<sourcecontrol type="svn">
			<trunkUrl>https://localhost:8443/svn/gt/gt2</trunkUrl>
			<executable>C:\Program Files\VisualSVN Server\bin\svn.exe</executable>
			<workingDirectory>C:\AutoBuild\Projects\GT2.Release</workingDirectory>
			<username>egor</username>
			<password>egor-007</password>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>
		<tasks>
			<exec>
				<executable>cmd.exe</executable>
				<baseDirectory>.\GT.Web.Site\</baseDirectory>
				<buildArgs>/c copy /Y Web.config.template Web.config</buildArgs>
				<buildTimeoutSeconds>10</buildTimeoutSeconds>
				<successExitCodes>0,1,3,5</successExitCodes>
			</exec>
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory/>
				<projectFile>.\gt.sln</projectFile>
				<buildArgs>/p:BuildProjectName=GT /p:Configuration=Release</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing GT solution build...</description>
			</msbuild>
			<exec>
				<executable>cmd.exe</executable>
				<baseDirectory>GT.Deploy\Release</baseDirectory>
				<buildArgs>/C del /f /q web.config</buildArgs>
				<successExitCodes>0,1,3,5</successExitCodes>
			</exec>
			<exec>
				<executable>cmd.exe</executable>
				<baseDirectory>.\GT.Deploy</baseDirectory>
				<buildArgs>/c del /f Release.zip</buildArgs>
				<buildTimeoutSeconds>60</buildTimeoutSeconds>
				<successExitCodes>0,1,3,5</successExitCodes>
			</exec>
			<exec>
				<executable>cmd.exe</executable>
				<baseDirectory>.\GT.Deploy</baseDirectory>
				<buildArgs>/c "C:\Program Files\7-Zip\7z.exe" a -tzip Release.zip -r Release/*</buildArgs>
				<buildTimeoutSeconds>60</buildTimeoutSeconds>
				<successExitCodes>0,1,3,5</successExitCodes>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>.\*.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics>
				<statisticList>
					<firstMatch name="Files" xpath="//coverageReport/project/@files"/>
					<firstMatch name="Classes" xpath="//coverageReport/project/@classes"/>
					<firstMatch name="LinesOfCode" xpath="//coverageReport/project/@nonCommentLines"/>
					<firstMatch name="Coverage" xpath="//coverageReport/project/@coverage"/>
					<firstMatch name="AverageComplexity" xpath='//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id="M14"]'/>
				</statisticList>
			</statistics>
		</publishers>
	</project>
	<project name="GT2.Production.DB" queuePriority="3">
		<webURL>http://popovegor.ru:5001</webURL>
		<workingDirectory>C:\AutoBuild\Projects\GT2.Production.DB</workingDirectory>
		<artifactDirectory>C:\AutoBuild\Artifacts\GT2.Production.DB</artifactDirectory>
		<category>GT2</category>
		<modificationDelaySeconds>60</modificationDelaySeconds>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<!--triggers>
			<projectTrigger serverUri="tcp://localhost:21234/CruiseManager.rem" project="GT2.Release">
	     <triggerStatus>Success</triggerStatus>
      </projectTrigger>
		</triggers-->
		<sourcecontrol type="svn">
			<trunkUrl>https://localhost:8443/svn/gt/gt2</trunkUrl>
			<executable>C:\Program Files\VisualSVN Server\bin\svn.exe</executable>
			<workingDirectory>C:\AutoBuild\Projects\GT2.Production.DB\</workingDirectory>
			<username>egor</username>
			<password>egor-007</password>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>
		<tasks>
			<exec>
				<executable>cmd.exe</executable>
				<baseDirectory>.\GT.Web.Site\</baseDirectory>
				<buildArgs>/c copy /Y Web.config.template Web.config</buildArgs>
				<buildTimeoutSeconds>10</buildTimeoutSeconds>
				<successExitCodes>0,1,3,5</successExitCodes>
			</exec>
			<!--build application-->
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory/>
				<projectFile>.\gt.sln</projectFile>
				<buildArgs>/p:BuildProjectName=GT</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing GT solution build...</description>
			</msbuild>
			<!--build database-->
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory>.\GT.Database</workingDirectory>
				<projectFile>GT.Database.dbproj</projectFile>
				<buildArgs>/p:BuildProjectName=GT.Database /t:Deploy /p:TargetConnectionString="Data Source=gameismoney.ru\SqlExpress;Initial Catalog=GT;Integrated Security=false;user=egor;password=egor-007" /p:DeployToDatabase=False /p:TargetDatabase=GT /p:DeploymentScriptName=GT.sql /p:DeploymentConfigFile=sql\debug\Production.sqldeployment /p:SqlCommandVariablesFile=sql\debug\Production.sqlcmdvars</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
				<description>Executing GT.Database project build...</description>
			</msbuild>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>.\*.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics>
				<statisticList>
					<firstMatch name="Files" xpath="//coverageReport/project/@files"/>
					<firstMatch name="Classes" xpath="//coverageReport/project/@classes"/>
					<firstMatch name="LinesOfCode" xpath="//coverageReport/project/@nonCommentLines"/>
					<firstMatch name="Coverage" xpath="//coverageReport/project/@coverage"/>
					<firstMatch name="AverageComplexity" xpath='//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id="M14"]'/>
				</statisticList>
			</statistics>
		</publishers>
	</project>
	<project name="DatabaseScriptGenerator">
		<webURL>http://popovegor.ru:5001</webURL>
		<workingDirectory>C:\AutoBuild\Projects\DatabaseScriptGenerator</workingDirectory>
		<artifactDirectory>C:\AutoBuild\Artifacts\DatabaseScriptGenerator</artifactDirectory>
		<category>Tools</category>
		<modificationDelaySeconds>60</modificationDelaySeconds>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<triggers>
			<intervalTrigger name="DatabaseScriptGenerator" seconds="300" buildCondition="IfModificationExists" initialSeconds="120"/>
		</triggers>
		<sourcecontrol type="svn">
			<trunkUrl>https://localhost:8443/svn/dbscriptgen_prj/DatabaseScriptGenerator</trunkUrl>
			<executable>C:\Program Files\VisualSVN Server\bin\svn.exe</executable>
			<workingDirectory>C:\AutoBuild\Projects\DatabaseScriptGenerator</workingDirectory>
			<username>egor</username>
			<password>egor-007</password>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>
		<tasks>
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v3.5\MsBuild.exe</executable>
				<workingDirectory/>
				<projectFile>.\DatabaseScriptGenerator.sln</projectFile>
				<buildArgs>/p:BuildProjectName=dbscriptgen</buildArgs>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
			</msbuild>
			<!--build database-->
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>.\*.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics>
				<statisticList>
					<firstMatch name="Files" xpath="//coverageReport/project/@files"/>
					<firstMatch name="Classes" xpath="//coverageReport/project/@classes"/>
					<firstMatch name="LinesOfCode" xpath="//coverageReport/project/@nonCommentLines"/>
					<firstMatch name="Coverage" xpath="//coverageReport/project/@coverage"/>
					<firstMatch name="AverageComplexity" xpath='//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id="M14"]'/>
				</statisticList>
			</statistics>
		</publishers>
	</project>
</cruisecontrol>
